parameters:

nette:

dibi:
	hostname: localhost
	username: root
	password: ***
	database: todo
	profiler: true
	lazy: true

services:

	taskRepository: Model\Repository\TaskRepository
	userRepository: Model\Repository\UserRepository
	listRepository: Model\Repository\EListRepository

factories:
